.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100px;
        height: 100px;
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(245, 241, 232, 100);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.intro__img {
    width: 1200px;
    height: auto;
}

.girl__img {
    width: 250px;
    height: auto;
    margin-top: 130px;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    transition: opacity 0.5s ease;
}


.intro {
    margin-top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 40;
}


.container {
    margin: 0 auto;
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
}

.section {
    width: 100%;
    margin: 60px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section h2 {
    margin-bottom: 100px;
    font-size: 2.5em;
}

.square-img {
    display: block;
    width: 200px;
    height: 200px;
    background-color: #ddd;
    border-radius: 30px 30px 0 0;
    margin: 30px auto;
}

.blue-section {
    background-color: rgb(50, 58, 91); /* Main background color */
    padding: 50px 20px; /* Padding around the content */
    color: white; /* Text color */
    position: relative; /* Position for pseudo-elements */
    border-radius: 8px; /* Rounded corners */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
    overflow: hidden; /* Ensures pseudo-elements don’t overflow */

    textarea {
        width: 98.8%;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100px;
        margin-bottom: 20px;
        border-radius: 5px;
        padding: 10px;
        border: none;
    }

}

.text-with-animation {
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.text-with-animation h3 {
    font-size: 24px;
    color: #ffffff;
    width: fit-content;
}

.scroll-line {
    width: 194px;
    margin-right: 140px;
    border-radius: 0;
    box-sizing: border-box;
    margin-bottom: 10px;
}


.text-with-animation.in-view .underline {
    width: 100%;
}

.blue-section button {
    width: 200px;
    height: 60px;
    background-color: white;
    color: #da7500;
    font-size: 23px;
    border-radius: 20px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s;
}

.blue-section button:hover {
    background-color: #f0f0f0;
}


.two__images {
    display: flex;
    flex-direction: column;

    img {
        width: 300px;
        height: 300px;
    }
}

.last__section {
    margin-top: 40px;
    display: flex;
}

.two__images {
    display: flex;
    flex-direction: column;
    transition: transform 0.6s ease;
    transform: rotateY(0deg); /* Initially rotated */
}

.two__images.show {
    transform: rotateY(180deg); /* Normal position when scrolled into view */
}