.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 10rem; /* Используйте rem вместо фиксированного px */
        height: auto; /* Автоматическая высота сохраняет пропорции */
    }
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(249 245 235);
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

textarea {
    font-size: 1.25rem; /* Изменение на rem */
}

.intro__img {
    width: 100%; /* Ширина в 100% для отзывчивости */
    max-width: 1200px; /* Ограничение максимальной ширины */
    height: auto;
}

.girl__img {
    width: 200px; /* Используйте vw для адаптивной ширины */
    height: auto;
    margin-top: 130px;
    border-top-left-radius: 35%;
    border-top-right-radius: 35%;
    transition: opacity 0.5s ease;
}

.intro {
    margin-top: 2rem; /* Изменение на rem */
    text-align: center;
    display: flex;
    flex-direction: row; /* Изменение на column для мобильных */
    align-items: center; /* Центрируем содержимое */
    z-index: 40;
}

.container {
    margin: 0 auto;
    padding: 2rem; /* Изменение на rem */
}

h1, h2, h3 {
    text-align: center;
}

.section {
    width: 100%;
    margin: 4rem 0; /* Изменение на rem */
    display: flex;
    justify-content: center;
    align-items: center;
}

.section h2 {
    margin-bottom: 6rem; /* Изменение на rem */
    font-size: 2.5em;
}

.flex {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-section {
    background-color: rgb(50, 58, 91);
    padding: 3rem 2rem; /* Изменение на rem */
    color: white;
    position: relative;
    border-radius: 0.5rem; /* Изменение на rem */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 90%;
}

.blue-section textarea {
    width: 98.8%;
    height: 10rem; /* Изменение на rem */
    margin-bottom: 1rem; /* Изменение на rem */
    border-radius: 0.5rem; /* Изменение на rem */
    border: none;
}

.text-with-animation {
    position: relative;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.text-with-animation h3 {
    font-size: 1.5rem; /* Изменение на rem */
    color: #ffffff;
    width: fit-content;
}

.scroll-line {
    width: 194px;
    margin-right: 140px;
    border-radius: 0;
    box-sizing: border-box;
    margin-bottom: 1rem; /* Изменение на rem */
}

.blue-section button {
    width: 20rem; /* Изменение на rem */
    height: 4rem; /* Изменение на rem */
    background-color: white;
    color: #da7500;
    font-size: 1.5rem; /* Изменение на rem */
    border-radius: 1rem; /* Изменение на rem */
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: background-color 0.3s;
}

.blue-section button:hover {
    background-color: #f0f0f0;
}

.two__images {
    display: flex;
    flex-direction: column;

    img {
        width: 100%; /* Ширина 100% для адаптивности */
        height: auto;
        max-width: 300px; /* Ограничение максимальной ширины */
    }
}

.last__section {
    margin-top: 40px;
    display: flex;
    img{
        width: 90%;
    }
}

.last__img {
    width: 90%;
}

@media screen and (max-width: 1700px) {
    .last__section {
        display: flex;
        align-items: center;
        justify-content: center;
        .last__img {
            width: 60%;
        }
    }
}

@media screen and (max-width: 780px){
    .girl__img {
        width: 300px;
        height: 100%;
    }


    .intro__img {
        width: 80%; /* Ширина 100% для мобильных */
    }
}

@media screen and (max-width: 480px) {
    .last__section {
        display: flex;
        align-items: center;
        justify-content: center;
        .last__img {
            width: 80%; /* Увеличьте ширину для мобильных */
        }
    }

    .intro {
        width: 100%;
        flex-direction: column; /* Вертикальное выравнивание для мобильных */
    }

    .girl__img {
        width: 300px;
    }

    .intro__img {
        width: 100%; /* Ширина 100% для мобильных */
    }
}
